.content {
 display: flex;
 justify-content: center;
}

.indianFood {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}

.mainContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
